	
	<label class="control-label col-sm-2">USPS Predefined Parcel Options</label>
	        
	    <select id="selector" name="predefined">
	     	<option disabled selected value> -- select an option -- </option>	
	  		<option value="Card">Card</option>
	  		<option value="FlatRateEnvelope">Letter Envelope</option>
	  		<option value="FlatRateGiftCardEnvelope">Gift Card Envelopes</option>
	  		<option value="FlatRateWindowEnvelope">Window Envelopes</option>
	  		<option value="SmallFlatRateEnvelope">Small Envelopes</option>
	  		<option value="FlatRatePaddedEnvelope">Padded Envelopes</option>
	  		<option value="FlatRateLegalEnvelope">Legal Envelopes</option>
	  		<option value="SmallFlatRateBox">Small Box</option>
	  		<option value="MediumFlatRateBox">Medium Boxes</option>
	  		<option value="LargeFlatRateBox">Large Box</option>
	  		<option value="LargeFlatRateBoardGameBox">Large Board Game Box</option>
	  		<option value="Parcel">Parcel</option>
		</select>


	<button type="button" id="custom-form" oncick="toggleDiv()">Custom Dimensions</button>

		<div id="hide-input">
			<label class="control-label col-sm-10">Custom Parcel Details</label> 
			<div class="col-sm-10">
		   		<input type="number" step="any" name="width" placeholder="width">	
			</div>    	

		   	<div class="col-sm-10">
		   		<input type="number" step="any" name="length" placeholder="length">	
			</div>	
	
		   	<div class="col-sm-10">
		    	<input type="number" step="any" name="height" placeholder="height">
			</div>
		</div>

		<p>Note: If you have chosen predefined package option, dimensions are not required but for weight</p> 
	    <div class="col-sm-10">
	    	<input type="number" step="any" name="weight" placeholder="weight" required>
		</div>

	

	
