	<label class="control-label col-sm-2">USPS Options</label>
	        
	    <select id="selector" name="predefined" onchange = "hideShowInput()">	
	  		<option value="Card">Flat Rate Card</option>
	  		<option value="FlatRateEnvelope">Flat Rate Letter Envelope</option>
	  		<option value="FlatRateGiftCardEnvelope">Flat Rate Gift Card Envelopes</option>
	  		<option value="FlatRateWindowEnvelope">Flat Rate Window Envelopes</option>
	  		<option value="SmallFlatRateEnvelope">Flat Rate Small Envelopes</option>
	  		<option value="FlatRatePaddedEnvelope">Flat Rate Padded Envelopes</option>
	  		<option value="FlatRateLegalEnvelope">Flat Rate Legal Envelopes</option>
	  		<option value="SmallFlatRateBox">Flat Rate Small Box</option>
	  		<option value="MediumFlatRateBox">Flat Rate Medium Boxes</option>
	  		<option value="LargeFlatRateBox">Flat Rate Large Box</option>
	  		<option value="LargeFlatRateBoardGameBox">Flat Rate Large Board Game Box</option>
	  		<option value="Parcel" Selected>Parcel</option>
		</select>

		<div id="hide-input">
			<label class="control-label col-sm-10">Custom Parcel Details</label> 
			<div class="col-sm-10">
		   		<input type="number" step="any" name="width" placeholder="width">	
			</div>    	

		   	<div class="col-sm-10">
		   		<input type="number" step="any" name="length" placeholder="length">	
			</div>	
	
		   	<div class="col-sm-10">
		    	<input type="number" step="any" name="height" placeholder="height">
			</div>
		</div>

		<p>Note: If you have chosen predefined package option, dimensions are not required but for weight</p> 
	    <div class="col-sm-10">
	    	<input type="number" step="any" name="weight" placeholder="weight" required>
		</div>

	

	
