<% if locals.keys.include?(:error_message) %>
  <%= erb :_errors, locals: {error: error_message} %>
<% end %>

<% if locals.keys.include?(:exception) %>
  <%= render_addr_verification_messages(exception.json_body) %>
<% end %>

<form action='/shipment' method='post' class='form-horizontal' role="form"> 
  <fieldset> 
    <div class="row">
      <div class="form-group" style="padding:20px"> 	
        <%= erb :_address, locals: {name: "To Address"}%> 
    </div>
    <div class="form-group" style="padding:20px">
      <%= erb :_parcel_details %> 	       
      <input class="right-align" type='submit' value='Get Rate'>	   			
    </div>
  </fieldset>
</form>



