<blockquote>
	<h3> CONGRATS! </h1>
	<p><em>You have shipped your package with EasyPost.</em></p>
	<p><a href="<%=@shipment_label.postage_label.label_url %>">Your Label Link</a></p>
	<p>Tracking code: <%=@shipment_label.tracking_code%></p>	
</blockquote>