<blockquote>
  <h3>CONGRATS!</h3>
  <p><em>You have shipped your package with EasyPost</em></p>
  <p><a href="<%=shipment.postage_label.label_url %>">Your Label Link</a></p>
  <p>Tracking code: <%=shipment.tracking_code%></p>	
</blockquote>