<div class="container">
	<a href="/">Home</a>
	<h1> CONGRATS! </h1>
	<h4> You have shipped your package with EasyPost </h2>
	<h4> Here is your url for printing your label and tracking code </h4>
		<p> Label: <%= @shipment_label.postage_label.label_url %> </p>
		<p> Tracking code: <%=@shipment_label.tracking_code%></p>			
</div>

