<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
<!-- Google Fonts -->
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
<!-- CSS Reset -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css">
<!-- Milligram CSS minified -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.1.0/milligram.min.css">
<!-- JQuery -->
		<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>

		<script type="text/javascript" src="thisjquery.js"></script>
		</script>
		<title>EasyPost Shipping</title>
	</head>
	<body>
		<h1> EasyPost Shipping </h1>
		<div class="container">
			<%= yield %>
		</div>
	</body>
</html>