button {
  background-color: #2c70b4;
  border: .1rem solid #2c70b4;
}

input[type='submit'] {
  background-color: #2c70b4;
  border: .1rem solid #2c70b4;
}

.nav ul {
  list-style: none;
  background-color: #2c70b4;
  text-align: left;
  padding: 0;
  margin: 0;
}
.nav li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
  margin-left: 20px;
}
 
.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}
 
.nav a:hover {
  font-size:20px;
  color:#FFF;
      transition: all 0.3s ease-in;
      text-decoration:none;
}
 
.nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}
 
@media screen and (min-width: 600px) {
  .nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }
 
  .nav li {
    display: inline-block;
    margin-right: -4px;
  }
 
}